
{% extends 'pages/base.html' %}

{% block content %}

{% load static %}


  <main id="main">

    

     <!-- ======= Blog Section ======= -->
     <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Events</h2>

          <ol>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li>Events</li>
          </ol>
        </div>

      </div>
    </section><!-- End Blog Section -->

   

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row align-items-center justify-content-center">

          <div class="col-lg-8 entries">

            {% for event in events %}

            <article class="entry">

              <div class="entry-img">
                <img src="{{ event.image.url }}" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="">{{ event.event_title }}</a>
              </h2>
              <h6 class="entry-title">
                Event date  <a href="">{{ event.event_date }}</a>
              </h6>

    

              <div class="entry-content">
                <p>
                  {{ event.event_summary }}
                </p>
                <div class="read-more">
                  <a href="{% url 'singleevent' event.id %}">Read More</a>
                </div>
              </div>

            </article><!-- End blog entry -->
       

            {% endfor %}
       

            <div class="blog-pagination">
              <ul class="justify-content-center">
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
              </ul>
            </div>

          </div><!-- End blog entries list -->


            

        </div>

      </div>
    </section><!-- End Blog Section -->

			

        
		  
       

  </main><!-- End #main -->
  {% endblock %} 