
{% extends 'pages/base.html'%}

{% block content %}



{% load static %}

<main id="main">

    <!-- ======= About Us Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2 class="text-success">Get Registered</h2>
          <ol>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li>Registration</li>
          </ol>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= About Section ======= -->
    <section class="about" data-aos="fade-up">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="{% static 'pages/assets/img/NYC-UCSPAK.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <h1>Register</h1>
            {% include 'pages/message.html' %}

            <form action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                <label  for="firstname" class="text-success">Firstname</label>
                <div class="form-group form-box">
                    <input type="text" name="firstname" class="input-text" placeholder="first name" required>
                    <i class="flaticon-mail"></i>
                </div>
                <label for="lastname" class="text-success">Lastname</label>
                <div class="form-group form-box">
                    <input type="text" name="lastname" class="input-text" placeholder="last name" required>
                    <i class="flaticon-mail"></i>
            
                </div>
                <label for="username" class="text-success">Username</label>
                <div class="form-group form-box">
                    <input type="text" name="username" class="input-text" placeholder="Username" required>
                    <i class="flaticon-mail"></i>
                </div>
                <label for="email" class="text-success">Email Address</label>
                <div class="form-group form-box">
                    <input type="email" name="email" class="input-text" placeholder="Email address" required>
                    <i class="flaticon-mail"></i>
                </div>
              
                
                <label for="password" class="text-success">Password</label>
                <div class="form-group form-box">
                    <input type="password" name="password" class="input-text" placeholder="Password" required>
                    <i class="flaticon-mail"></i>
                </div>
                <label for="password2" class="text-success">Confirm Password</label>
                <div class="form-group form-box">
                    <input type="password" name="password2" class="input-text" placeholder="confirm password" required>
                    <i class="flaticon-mail"></i>
                </div>
                <div class="form-group mb-0 clearfix">
                    <button type="submit"  class="btn-md float-left">Create an account</button>
                </div>          
            
            </form>
            <p>Already a member? <a href="{% url 'login' %}">Login here</a></p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
</main>

{% endblock %}