{% extends 'pages/base.html'%}

{% block content %}

{% load static %}

<main id="main">

    <!-- ======= About Us Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2 class="text-success">About UCSPAK</h2>
          <ol>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li>About Us</li>
          </ol>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= About Section ======= -->
    <section class="about" data-aos="fade-up">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="{% static 'pages/assets/img/NYC-UCSPAK.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <h3>Brief description about UCSPAK</h3>
            <p style="font-size: 18px" class="text-black">
              Universities and Colleges Students’ Peace Association of Kenya (UCSPAK) is a non-profit
                student association whose major objective is to promote peace and good governance in institutions
                of higher learning in Kenya. UCSPAK was formed after the 2015 Garissa University terror attack. The Association started as the Zero radicalization campaign. Currently UCSPAK has representatives
                in 69 Universities and Colleges in Kenya representing the interest of over 2 million undergraduate
                students, mostly age 18-24 years.
                <p style="font-size: 18px" class="text-black"> Our theory of change emphasizes on youth, especially those in the
                institutions of higher learning as key agents of change, specifically in the use of non-violent actions
                to bring about social change. We believe that Students too can be used to build bridges across
                communities, and work together to mitigate violent conflicts and promote peaceful coexistence. </p>
                <h6 class="text-success">UCSPAK interventions are focused on five (5) areas namely:</h6>
                <ul class="align-items-center justify-content-center pl-4">
                <li>(1) Peace Building and Conflict Resolution</li>
                <li>(2)Leadership and Governance</li>
                <li> (3)Gender Mainstreaming and Special Needs</li>
                 <li>(4) Youth Economic empowerment </li>
                 <li>(5) Research and Documentation</li>
              </ul>
            </p>
     
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
    <!--VISION AND MISSION-->
    <section class="about" data-aos="fade-up">
      <div class="container">
        <div class="row">
          <div class=".col-md-6 .offset-md-6 text-center">
            <h6 class="text-success">Vision</h6>
             <p  style="font-size: 18px" class="text-black">The leading youth platform for promoting peace and security in Kenya and beyond.</p>
              <h6 class="text-success">Mission</h6>
              <p style="font-size: 18px" class="text-black">To empower and motivate youths to make a positive 
              difference to society through
              volunteerism, capacity building and tailored mentorship.</p>
              <h6 class="text-success">Core Values</h6>
              <p style="font-size: 18px" class="text-black">Volunteerism; Integrity; Excellence; Diversity and Community Partnership</p>

          </div>

        </div>

      </div>

    </section>
</main>
{% endblock %}