{% extends 'pages/base.html'%}

{% block content %}

{% load static %}

<main id="main">

    <!-- ======= About Us Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2 class="text-success">Our Achievements</h2>
          <ol>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li>achievement page</li>
          </ol>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= About Section ======= -->
    <section class="about" data-aos="fade-up">
      <div class="container">

        <!-- Outer Div (That may be your row) -->
    <div class="outer-div row">

        <!-- Inner Div (That may be your Columns) -->
    	<div class="inner-div col-md-">
            <h3>Strategic Partnerships with both state and non state actors:</h3>
            <p class="lead">UCSPAK has been able to expand its partnership to both state and
                non-state actors I.e Signed MoU with the Independent Electoral and
                Boundaries Commission (IEBC); Office of the Deputy President;
                Commission for University Education; National Steering Committee on
                Peace Building and Conflict Management (NSC); Interreligious Council
                of Kenya (IRCK); International Foundation for Electoral System(IFES);
                Saferworld, Diakonia among others</p>
    	</div>

    	<div class="inner-div col-md-">
            <h3>Advisory Role in National Task forces and Working Groups</h3>
            <p class="lead">UCSPAK has been selected by Ministry of Interior and Coordination of the National Government through National
                Steering Committee on Peace Building and Conflict Management
                (NSC) to seat at the steering committee and spearhead the
                United Nations Security Council Resolution (UNSCR) 2250 on
                youth peace and security in Kenya. <a href="https://www.nscpeace.go.ke/partners" 
                class="btn btn-success" target="_blank">Link</a></p>
            <p class="lead"> UCSPAK seats at the National secretariat and represents the
                youth in the National Steering Committee of Kenya National
                Action Plan of United Nations Security Council Resolution 1325
                which is being spearheaded by the ministry of public service, Gender, Senior Citizens Affairs and Special Programmes and The
                UN-Women</p>
            <p class="lead">UCSPAK also seat and represent youth at the Multi-Sectoral
                Forum (MSF) convened by religious leaders in the country to
                promote peace and development agenda of the country</p>
            <p class="lead">UCSPAK Participated in the development of Mombasa County Action
                Plan for Preventing and Countering Violent Extremism (MCAP-PCVE)
                that was launched in May 2017 and mapping of Mombasa County CVE
                Actors <a href="http://www.mombasa.go.ke/wp- content/uploads/2018/10/FINAL" class="btn btn-success" target="_blank">Link</a></p>
    	</div>

    	<div class="inner-div col-md-">
            <h3>Benchmarking with other organisations</h3>
            <p class="lead">UCSPAK was requested by the National Steering Committee on
                Peace Building and Conflict Management (NSC) to host
                Ethiopian Government Delegation who were in the country to
                benchmark on Peacebuilding and the engagement between the
                government of Kenyaand the youths in 2016</p>
            
    	</div>
        <div class="inner-div col-md-">
            <h3>Electoral Justice Participation</h3>
            <p class="lead">In 2017 UCSPAK Partnered with IEBC and Conducted two separate projects
                on youth governance and electoral justice. The first project was funded by
                International Foundation for Electoral Systems- Global Affairs Canada (IFES
                -GAC) and was titled Increasing Electoral Knowledge Among Young
                People In The Institutions Of Higher Learning In Kenya (Changamka
                Project) from June 2017 – November2017. The Changamka project was
                conducted within institutions of higher learning and surrounding
                communities in Nairobi, Riftvalley, Coast, Western and Nyanza regions.
                 The project took up the Swahili word “Changamka” which means being 
                 vibrant as it encouraged young students to be upbeat about their right to
                 exercise their democratic power through the
                 ballot.<a href="https://www.ifes.org/news/reflection-youth-civic-education-kenya" class="btn btn-success" target="_blank">Link</a>
                 In the second project, UCSPAK partnered with Saferworld and
                 implemented a project titled ‘Promoting the Role of Youth in Peaceful
                 Elections in Kenya’ Project. This project was Funded by United States - Department of State – Bureau of Democracy, Human Rights and Labor. The
                 project was implemented in Nairobi region in the following institutions- Strathmore University, Technical University of Kenya, Kenyatta University
                 and The University of Nairobi. In both projects, recommendations were
                 that young people are willing to engage in peace processes when accorded
                 the opportunities to do so. <a href="https://www.saferworld.org.uk/en-stories-of- 
                 change/students-of-peace-kenyas- universities-come-together-for-change" class="btn btn-success" target="_blank">Link</a></p>

        </div>
        <div class="inner-div col-md-">
            <h3>The ‘ Amplifying Community voices for Sustainable Peace in Kenya’</h3>
            <p class="lead">
                From
                December 2019 to September 2021, UCSPAK implemented a 22 months
                project titled the ‘ Amplifying Community voices for Sustainable Peace in
                Kenya’. This project was also known as the People-to-People (P2P) conflict
                mitigation, Peace building, and reconciliation project. The project was
                funded by the United States Agency for International Development (USAID)
                and was implemented in Nairobi, Kisumu, Uasin Gishu, Kiambu and
                Bungoma counties by a consortium of 5 partners. Two of these
                organizations were international not-for-profit organizations (Saferworld
                and Life & Peace Institute) while the rest three were local organizations
                which included; Universities and Colleges Students’ Peace Association of
                Kenya, (UCSPAK), Pamoja for Transformation Trust (PfT), and Catholic
                Justice and Peace Commission (CJPC-Eldoret). Saferworld was the lead
                organization in this consortium with the other four organizations leading in
                the implementation of different yet complementary activities. PfT, LPI, and
                CJPC-Eldoret were implementing community dialogues while UCSPAK was
                in charge of youth-specific dialogues in all the five targeted counties. Through this project UCSPAK held the first National Student Convention on
                Youth, Peace and election at the University of Nairobi that was graced by
                the Cabinet Secretary, Ministry of ICT and Youth Affairs, UN resident
                Coordinator among other guest. <a href="https://fb.watch/7QJzel0EXp/" class="btn btn-success" target="_blank">Link</a>
            </p>

        </div>
        <div class="inner-div col-md-">
            <h3>Student-to-student dialogue series to complement the effort of the
                building bridges to unity advisory task force (BBUAT)</h3>
            <p class="lead">
                The Student to
                    Student Dialogue Series was conducted by Universities and Colleges
                    Students’ Peace Association of Kenya (UCSPAK) in partnership with
                    Saferworld with the objective of adding the voice of the youth in
                    institutions of learning to the Building Bridges Initiative (BBI) thus
                    complementing the efforts of the Building Bridges to Unity Advisory
                    Taskforce (BBUAT).The dialogue series were undertaken over a period of
                    two months (July to August, 2019) in five Universities spread across five
                    regions notably; Mount Kenya University (Central region), University of
                    Nairobi (Nairobi region), Moi University (Rift Valley region ), Maseno
                    University (Nyanza region), and the Technical University of Mombasa
                    (Coast region ). These regions were purposively selected based on
                    historical experiences of hotly contested elections in Kenya. 
            </p><p class="lead">Institutions of
                    higher learning were similarly selected purposively with due consideration
                    of; centrality within the respective region, the size and the heterogeneity
                    of the student population and the level of student involvement in politics
                    as observed in previous elections and the alumni in the national politics. In
                    addition to this, one inter-university dialogue was held in USIU-Africa to
                    consolidate and validate identified issues of concern before submission to
                    the Building Bridges to Unity Advisory Taskforce (BBUAT) in Kenyatta
                    International Convention Center (KICC) on 9th August, 2019. This program
                    was funded by the Embassy of Finland,Nairobi.</p>

        </div>
        <div class="inner-div col-md-">
            <h3>The Jisort Youth Economic Empowerment Project</h3>
            <p class="lead">: From January, 2021 to
                December, 2023 UCSPAK will be implementing a youth economic
                empowerment project in institutions of higher learning in 5 counties- Nairobi, Kiambu, Nakuru, Kisumu and Mombasa counties- This counties
                were chosen because they represent counties with most university, college
                and TVET in Kenya. In total the five counties mentioned above have 241
                institutions of higher learning. Nairobi County is leading with 149
                institutions, followed by Kiambu County with 26 institutions, Kisumu
                County follows in the third position with 23 institutions and then
                Mombasa County with 22 institutions and lastly, Nakuru County with a
                presence of 21 institutions of higher learning. At the end of the project we
                aim at empowering over 6,000 young men and women by promoting the
                savings culture and a mindset change towards entrepreneurship,
                leveraging on technology for capacity building and advocacy for conducive
                business environment for young people. This project is funded by Diakonia</p>
            

        </div>
        <div class="inner-div col-md-">
            <h4>Other activities/initiative conducted by UCSPAK to promote peace</h4>
            <ul class="list-group inner-div lead">
                <li class="list-group-item">Mediated on a conflict between Maseno University and the
                    neighbouringcommunity of Maseno</li>
                <li class="list-group-item">After a student leader from Meru University of Science and
                    Technology was allegedly kill by a police officer and student were
                    demonstrating for justice. UCSPAK held a roundtable discussion
                    with the then Cabinet Secretary Ministry of education, Ambassador Amina Mohamed</li>
                <li class="list-group-item">Held First, second and third Garissa Memorial in 2016,2017 and
                    2018 respectively.</li>
                <li class="list-group-item">Held the first National student leaders
                    Dialogue Summit in 2018. <a href="https://zetech.ac.ke/news/student-leaders-urged-to-be-promote- peace-in-colleges- universities/" class="btn btn-success" target="_blank">Link</a></li>
                <li class="list-group-item">In 2016 we partnered with Tangaza University and trained Student
                    leaders from across the country on good leadership and
                    peacebuilding themed “Learning to live together“ We also
                    developed a training manual for the student leaders. <a href="https://issuu.com/getconnectedmagazine/docs/fr._selvam_trainin
                    g_manual" class="btn btn-success" target="_blank">Link</a></li>
            

            </ul>
            
        </div>
        <div class="inner-div col-md-">
            <h3>Gender mainstreaming</h3>
            <p class="lead">Launch of “Somesha Msichana Initiative“ by H.E Mama
                Rachel Ruto in Kenyatta University. <a href="https://www.sde.co.ke/thenairobian/article/2001299843
                /never- give-sponsors-lungula-rachel-ruto-warns-varsity- girls" class="btn btn-success" target="_blank">Link</a></p>

        </div>
        <div class="inner-div col-md-">
            <h3>Research and Publication</h3>
            <p class="lead">
                In partnership with National Steering Committee on
                Peace Building (NSC/P), UCSPAK conducted a research on
                UNSC Resolution 2250 on Youth, Peace and Security in
                Kenya. The research was funded by the United Nation
                Development Programme (UNDP)
            </p>

        </div>

    </div>

      </div>
    </section><!-- End About Section -->

    <!--ACHIEVEMENTS ROW 2-->



    <!--ACHIEVEMENTS ROW 3-->
    <!--VISION AND MISSION-->
   
</main>
{% endblock %}