{% extends 'pages/base.html'%}

{% block content %}

{% load static %}

<main id="main">

    <!-- ======= About Us Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2 class="text-success">Advisory team</h2>
          <ol>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li>About Us</li>
          </ol>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= About Section ======= -->
    <section class="about" data-aos="fade-up">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
          
       
        </div>

      </div>
    </section><!-- End About Section -->

    <!--NEW SECTION-->

    <section class="bg-light py-4 my-5" data-aos="fade-up">
        <div class="container">
            <div class="row">
                

                <div class="col-md-6 col-lg-4 offset-md-4">
                    <div class="card my-3 align-items-center">
                        <div class="card-thumbnail">
                            <img src="{% static 'pages/assets/img/advisory/advisory1.jpg' %}" class="img-fluid" alt="thumbnail">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title"><a href="#" class="text-secondary">Prof. Chacha Nyaigotti Chacha</a></h3>
                            <h3 class="card-title"><a href="#" class="text-success text-center">Chairperson</a></h3>
                            <p class="card-text lead text-black">Prof. Chacha is a Kenyan playwright and consummate educationalist. Prof. Chacha is currently 
                                serving as the Chairman of the Kenyan Commission for University Education (CUE). </p>
                            <p>
                                <button class="btn btn-success" type="button" data-toggle="collapse" 
                                data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                               Read more
                                </button>
                            </p>


                                <!-- Modal -->
                               
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 text-center">

                
                             <!--TESTING MODAL-->
                            
                              <div class="collapse" id="collapseExample">
                                <div class="card card-body">
                                    <p class="lead text-black">Prof. Chacha is a Kenyan playwright and consummate educationalist. Prof. 
                                    Chacha is currently serving as the Chairman of the Kenyan Commission for University 
                                    Education (CUE). He has served as an executive secretary of the Inter-University Council
                                     for East Africa, first CEO of the Kenyan Higher Education Loans Board (HELB), Pro- Chancellor Mount Kenya University,
                                     Vice Chancellor Lukenya University, Principal Kisii University and Laikipia University</p>
                                     <P class="lead">He also served as the Chairperson of Kenya Institute of Mass Communication Council. 
                                         Prof. Chacha was educated at Kenyatta College, receiving a BEd (Swahili Language), 
                                         and later studied at Yale University, gaining an MA in Anthropological Linguistics 
                                         and a Ph.D. in Swahili Language Linguistics. He has been a lecturer in the majority of 
                                         institutions of higher learning in Kenya. He was a Research Professor at the Institute of Regional Integration and Development of the Catholic University of East Africa. 
                                         Prof. ChachaNyaigotti has shown outstanding performance in all the institutions he has led</P>
                                </div>
                              </div>

                            <!--TESTING MODAL END-->
                </div>         

            </div>

        </div>
        <!--VICE PRESIDENT -->
        <div class="container" data-aos="fade-up">
            <div class="row">
                

                <div class="col-md-6 col-lg-4 offset-md-4">
                    <div class="card my-3 align-items-center">
                        <div class="card-thumbnail">
                            <img src="{% static 'pages/assets/img/advisory/advisory2.jpg' %}" class="img-fluid" alt="thumbnail">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title"><a href="#" class="text-secondary">Beverly C. Moss </a></h3>
                            <h3 class="card-title"><a href="#" class="text-success text-center">Vice Chairperson</a></h3>
                            <p class="card-text lead text-black">Beverly is the Secretary, Conflict Management and Peace 
                                Building Office of the Deputy President. She has worked in various
                                 capacities in the private and public sector as well as with civil society 
                                 organizations for the past twenty
                                - four years</p>

                            <p>
                                <button class="btn btn-success" type="button" data-toggle="collapse" 
                                data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">
                               Read more
                                </button>
                            </p>


                                <!-- Modal -->
                               
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 text-center">

                
                             <!--TESTING MODAL-->
                            
                              <div class="collapse" id="collapseExample1">
                                <div class="card card-body">
                                    <p class="lead text-black">Beverly is the Secretary, Conflict Management and Peace Building Office of the Deputy President. She has worked in various capacities in the private and public sector as well as with civil society organizations for the past twenty
                                        - four years. She has also worked as a lecturer at the Nairobi Great Commission School and part time at Daystar University, Department of Peace and International Relations on a voluntary basis and is currently the Vice Chairperson of the Universities and Colleges Students’ Peace Association of Kenya (UCSPAK) Board. In her early years of employment, she worked as an interior designer in various organizations including Victoria Furniture and Hutchings Biemer Ltd.
                                        </p>
                                    <P class="lead text-black">Beverly holds a Master of Arts Degree in International Conflict Management from the University of Nairobi, a Bachelor of Arts Degree in Peace and Conflict Transformation from Daystar University Nairobi,
 
                                        Kenya and a diploma in Interior Design from Exterior Interior Jenson and Nicholson (India). She is also a Certified Professional Mediator and a member of the Institute of Chartered Mediators and Conciliators. She has undertaken various trainings both locally and internationally including at The United States Institute of Peace (USIP), Washington DC, IPAT (Inter Peace), Switzerland and the Regional Senior Mission Leaders (RSML) course at the International Peace Support Training Centre (IPSTC) Karen.
                                        </P>

                                </div>
                              </div>

                            <!--TESTING MODAL END-->
                </div>         

            </div>

        </div>





        <!--VICE PRESIDENT-->
        
        <div class="container" data-aos="fade-up">
            <div class="row">

                <div class="col-md-6 col-lg-4">
                    <div class="card my-3">
                        <div class="card-thumbnail">
                            <img src="{% static 'pages/assets/img/advisory/advisory3.jpg' %}" class="img-fluid" alt="thumbnail">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title"><a href="#" class="text-secondary">Allan Chacha </a></h3>
                            <h3 class="card-title"><a href="#" class="text-success text-center">Secretary</a></h3>
                            <p class="card-text lead text-black">Mr. Allan Chacha is the Executive director and founder of Universities and Colleges
                                 Students’ Peace Association of Kenya (UCSPAK). He is also the secretary to the Board</p>
                            <p>
                                <button class="btn btn-success" type="button" data-toggle="collapse" 
                                data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
                               Read more
                                </button>
                            </p>
                        </div>
                    </div>

                    <!--MODAL START-->
                    

                    <div class="collapse" id="collapseExample2">
                        <div class="card card-body">
                            <p class="lead text-black">Mr. Allan Chacha is the Executive director and founder of Universities and Colleges Students’ Peace Association of Kenya (UCSPAK). He is also the secretary to the Board. Mr. Chacha holds bo t h Diploma and Bachelor of Law from Mount Kenya University. Before founding UCSPAK in 2015, Mr. Chacha was serving in the student union of Mount Kenya University as the chairman of Mount Kenya University Student Association (MKUSA). Mr. Chacha has worked at the Office of the Deputy President under the Strategy and Delivery Unit.
                                 He has also served as the Migori Youth governor under the East Africa Parliament</p>
                            <P>Through his journey as a youth leader , Mr  Chacha  has been able to acquire good leadership skills, good facilitation skills, experience of chairing meetings and committee work, Tact and diplomacy. Further, Mr. Chacha possesses excellent communication and interpersonal skills impartiality, fairness and the ability to respect confidence. Mr. Chacha is a versatile, proficient and reliable person who strives to maintain a positive attitude in face of adversity. He relishes new challenges and is keen to deliver in time to achieve 
                                predetermined goals and objectives in networking as a peace ambassador and resource mobilizer.</P>

                        </div>
                      </div>


                    <!--MODAL ENDS-->
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="card my-3 align-items-center">
                        <div class="card-thumbnail">
                            <img src="{% static 'pages/assets/img/advisory/advisory41.jpg' %}"class="img-fluid" alt="thumbnail">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title"><a href="#" class="text-secondary">AGYENTA Anthony</a></h3>
                            <h3 class="card-title"><a href="#" class="text-success text-center">Member</a></h3>
                            <p class="card-text text-black lead">Mr. Anthony worked with the United Nations for 15 years as Senor Policy adviser to UN Country systems, Peace Keeping Operations and in Humanitarian and
                                 emergency response in Africa, South Pacific, and Southeast Asia</p>
                                 <p>
                                    <button class="btn btn-success" type="button" data-toggle="collapse" 
                                    data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
                                   Read more
                                    </button>
                                </p>
                        </div>
                    </div>

                    <div class="collapse" id="collapseExample3">
                        <div class="card card-body">
                            <p class="lead text-black">Mr. Anthony worked with the United Nations for 15 years as Senor Policy adviser to UN Country systems, Peace Keeping Operations and in Humanitarian and emergency response in Africa, South Pacific, and Southeast Asia. Anthony holds a Masters degree in Development Studies; Erasmus University of Rotterdam, Netherlands, with focus on alternative development strategies),
                                 a Master in Development Innovations and Change, University of Bologna</p>
                            <P class="lead text-black">with a specialization in Local Economic Systems, an Executive Programme in Innovations in Governance, Harvard University, and BA9Hons) degree in Political Science- French, University of Ghana. His main interest in Youth led to the establishment of Youth-led innovations in Kenya and the role of Youth in the IGAD and AUC. He continues to contribute to training of prospective Peace keepers
 
                                and civilian deployments to conflict zones in the interest of Conflict prevention and Peaceful societies.
                                </P>

                        </div>
                      </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="card my-3">
                        <div class="card-thumbnail">
                            <img src="{% static 'pages/assets/img/advisory/advisory5.jpg' %}" class="img-fluid" alt="thumbnail">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title"><a href="#" class="text-secondary">Mr. Christopher Wakube</a></h3>
                            <h3 class="card-title"><a href="#" class="text-success text-center">Member</a></h3>
                            <p class="card-text text-black lead">Mr. Wakube is a community development professional with 17 years’ experience in community development work with
                                 a focus on peacebuilding, community security, child protection and project management</p>
                                 <p>
                                    <button class="btn btn-success" type="button" data-toggle="collapse" 
                                    data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample">
                                   Read more
                                    </button>
                                </p>
                        </div>
                    </div>
                    <!--MODAL TEXT-->
                    <div class="collapse" id="collapseExample4">
                        <div class="card card-body">
                            <p class="lead text-black">Mr. Wakube is a community development professional with 17 years’ experience in community development work with a focus on peacebuilding, community security, child protection and project management. He possess expertise in designing and delivering programmes on peacebuilding, conflict management and community security. Mr. Wakube have a good understanding of the local context in Kenya both at county and national levels and a working knowledge of countries in the
                                 East African region. He have good management skills with competencies in human resource</p>
                            <P>management, financial management, project management, partner management, risk management, fundraising and strategic management. He is a strong networker and have built good relationships with key stakeholders in Kenya such as peace and security CSOs, donors (e.g. DFID, USAID, EC etc) and government actors both at county and national levels (e.g. the Directorate of Peacebuilding and Conflict Management in the Ministry of Interior and Coordination of National Government, the National Cohesion and Integration Commission (NCIC), the Frontier Counties Development Council (FCDC) and the Pastoralist Parliamentary Group (PPG) Secretariat). Mr. Wakube possess strong facilitation and analytical skills having undertaken consultancy assignments 
                                involving trainings, evaluations and research in Kenya and the East African region.</P>

                        </div>
                      </div>


                    <!--MODAL TEXT ENDS HERE-->
                </div>
            </div>
        </div>
        <!--START OF ROW 2-->



        <div class="container" data-aos="fade-up">
            <div class="row">

                <div class="col-md-6 col-lg-4">
                    <div class="card my-3">
                        <div class="card-thumbnail">
                            <img src="{% static 'pages/assets/img/advisory/advisory6.jpg' %}" class="img-fluid" alt="thumbnail">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title"><a href="#" class="text-secondary">Dr. Dickson Liyayi Magotsi </a></h3>
                            <h3 class="card-title"><a href="#" class="text-success text-center">Member</a></h3>
                            <p class="card-text lead text-black">Mr. Magotsi is currently serves as the Undersecretary and Head of Programs for the Kenyan Ministry of Interior and Coordination’s National Steering Committee on Peacebuilding 
                                </p>
                            <p>
                                <button class="btn btn-success" type="button" data-toggle="collapse" 
                                data-target="#collapseExample5" aria-expanded="false" aria-controls="collapseExample">
                               Read more
                                </button>
                            </p>
                        </div>
                    </div>

                    <!--MODAL START-->
                    

                    <div class="collapse" id="collapseExample5">
                        <div class="card card-body">
                        
                            <P class="lead text-black">and Conflict Management, housed in the Ministry’s Conflict Early Warning and Response Unit. Mr. Magotsi also sits on the Kenyan National Committee for the Prevention and Punishment of the Crime of Genocide, War Crimes, Crimes against Humanity and All Forms of Discrimination. During nearly two decades of public service, he has made contributions to a wide variety of peacebuilding and conflict management initiatives, including having served as Team Leader of the UWIANO Platform for Peace. Mr. Magotsi received a B.A in
 
                                Political Science and an M.A in International Conflict Management from the University of Nairobi. He recently attended the Global Raphael Lemkin Seminar for Genocide Prevention in November of 2017.
                                </P>

                        </div>
                      </div>


                    <!--MODAL ENDS-->
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="card my-3 align-items-center">
                        <div class="card-thumbnail">
                            <img src="{% static 'pages/assets/img/advisory/advisory7.jpg' %}"class="img-fluid" alt="thumbnail">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title"><a href="#" class="text-secondary">Dr. Eliab Some</a></h3>
                            <h3 class="card-title"><a href="#" class="text-success text-center">Member</a></h3>
                            <p class="card-text lead text-black">Dr. Some is an Assistant Professor of Epidemiology and Program Leader for Bachelor
                                 of Epidemiology and Biostatistics program, School of Pharmacy and Health Sciences. </p>
                                 <p>
                                    <button class="btn btn-success" type="button" data-toggle="collapse" 
                                    data-target="#collapseExample6" aria-expanded="false" aria-controls="collapseExample">
                                   Read more
                                    </button>
                                </p>
                        </div>
                    </div>

                    <div class="collapse" id="collapseExample6">
                        <div class="card card-body">
                            <p class="lead text-black">He teaches, mentors and coaches bachelors, masters’ and doctoral students on quantitative and qualitative research methods, imparting to the students his practical knowledge acquired from over 30 years of experience in operational research and programme assessment, design, planning, implementation, monitoring, evaluation and review in Kenya, Eastern and Southern Africa, Pacific and Pakistan. Prof. Some has worked with Government of Kenya (6 years), NGOs (13 years), United Nations (WHO & UNICEF) (10 years) and in academia (6 years). Dr. Some has high
                                developed organizational, Emceeing, Rapporteur’s, mobilization and communication competencies</p>
                            <P>Professor Some’s innovative contribution to public health include: community-based malaria control: promoting the use of insecticide-treated nets and case management; employer-based malaria control: pioneered the first approach in Kenya in the 1990s; faith-based organizations response to HIV/AIDS: pioneered the formulation of policies and strategies in Kenya, Tanzania and Southern Africa; uninterrupted supply of ARV drugs for the management of HIV/AIDS: increased the number of people on ARVs from 2,500 in 2004 to over 315,000 in 2008 in Malawi; uninterrupted supply of vaccines through Pacific Immunizations Strengthening Partnership, covering 22 Pacific Island nations; and pioneering BSc. Epidemiology and Biostatistics at the United St
                                 International University – Africa with the first class of 10 students admitted September 2018.</P>

                        </div>
                      </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="card my-3">
                        <div class="card-thumbnail">
                            <img src="{% static 'pages/assets/img/advisory/advisory5.jpg' %}" class="img-fluid" alt="thumbnail">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title"><a href="#" class="text-secondary">Mr. Christopher Wakube</a></h3>
                            <h3 class="card-title"><a href="#" class="text-success text-center">Member</a></h3>
                            <p class="card-text lead text-black">Mr. Wakube is a community development professional with 17 years’ experience in community development work with
                                 a focus on peacebuilding, community security, child protection and project management</p>
                                 <p>
                                    <button class="btn btn-success" type="button" data-toggle="collapse" 
                                    data-target="#collapseExample7" aria-expanded="false" aria-controls="collapseExample">
                                   Read more
                                    </button>
                                </p>
                        </div>
                    </div>
                    <!--MODAL TEXT-->
                    <div class="collapse" id="collapseExample7">
                        <div class="card card-body">
                            <p class="lead text-black">Mr. Wakube is a community development professional with 17 years’ experience in community development work with a focus on peacebuilding, community security, child protection and project management. He possess expertise in designing and delivering programmes on peacebuilding, conflict management and community security. Mr. Wakube have a good understanding of the local context in Kenya both at county and national levels and a working knowledge of countries in the
                                 East African region. He have good management skills with competencies in human resource</p>
                            <P>management, financial management, project management, partner management, risk management, fundraising and strategic management. He is a strong networker and have built good relationships with key stakeholders in Kenya such as peace and security CSOs, donors (e.g. DFID, USAID, EC etc) and government actors both at county and national levels (e.g. the Directorate of Peacebuilding and Conflict Management in the Ministry of Interior and Coordination of National Government, the National Cohesion and Integration Commission (NCIC), the Frontier Counties Development Council (FCDC) and the Pastoralist Parliamentary Group (PPG) Secretariat). Mr. Wakube possess strong facilitation and analytical skills having undertaken consultancy assignments 
                                involving trainings, evaluations and research in Kenya and the East African region.</P>

                        </div>
                      </div>


                    <!--MODAL TEXT ENDS HERE-->
                </div>
            </div>
        </div>



        <!--END OF ROW 2-->
    </section>

    <!--END OF NEW SECTION-->
    <!--VISION AND MISSION-->
   
</main>
{% endblock %}