
{% extends 'pages/base.html' %}

{% block content %}

{% load static %}

  <!-- ======= Hero Section ======= -->
<div>
  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Welcome to <span>UCSPAK</span></h2>
          <p class="animate__animated animate__fadeInUp">Amplifying community voices for sustainable peace in Kenya " a project sponsored by USAID via SaferWorld as the lead consortium in the program implementation in Kenya.</p>
          {% if user.is_authenticated %}
          <a href="" class="btn-get-started animate__animated animate__fadeInUp btn-warning">Welcome {{user.username}}</a>
          {% else %}
            <a href="{% url 'register' %}" class="btn-get-started animate__animated animate__fadeInUp btn-warning">Register</a>
          {% endif %}  
        </div>
      </div>
      <!--AUTHENTICATION TEMPLATE-->

      <!-- Slide 2 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">we spread peace </h2>
          <p class="animate__animated animate__fadeInUp">Peace does not rest in the charters and covenants alone. It lies in the hearts and minds of all people. So let us not rest all our hopes on parchment and on paper, let us strive to build peace, a desire for peace, a willingness to work for peace in the hearts and minds of all of our people.</p>
          {% if user.is_authenticated %}
          <a href="" class="btn-get-started animate__animated animate__fadeInUp btn-warning">Welcome {{user.username}}</a>
          {% else %}
            <a href="{% url 'register' %}" class="btn-get-started animate__animated animate__fadeInUp btn-warning">Register</a>
          {% endif %} 
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Let's discuss</h2>
          <p class="animate__animated animate__fadeInUp">Join the discussion to discuss on the role of youth and youth serving organizations in the implementation of UNSC Resolution 2250 on youth, peace and security.</p>
          {% if user.is_authenticated %}
          <a href="" class="btn-get-started animate__animated animate__fadeInUp btn-warning">Welcome {{user.username}}</a>
          {% else %}
            <a href="{% url 'register' %}" class="btn-get-started animate__animated animate__fadeInUp btn-warning">Register</a>
          {% endif %} 
        </div>
      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->
</div>
	<!--HERO TWO-->

 <div class="row" data-aos="fade-up">
          <div class="col-md-5 p-5">
			  <a class="twitter-timeline" data-height="500" href="https://twitter.com/UcspakOfficial?ref_src=twsrc%5Etfw">Tweets by UcspakOfficial</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <!--img src="assets/img/features-1.svg" class="img-fluid" alt=""-->
           
          </div>
          <div class="col-md-7 pt-4">
             <h3 class="px-5 text-success">UCSPAK posts tweets daily and we encourage our audience to browse it for new updates.</h3>
           
            <p class="px-5">We would like to thank all the partners who participated in the validation workshop for our research on Youth and Peacebuilding at Sarova Panafric today. Present was the Ministry of Interior, Ministry of public service, Youth and Gender, UNDP, NCIC, among others.
Our special appreciation goes to the National Steering Committee on Peace Building and Conflict Management (NSC) and UNDP for supporting us in this research .
The purpose of the research was to provide a baseline information and analysis defining a strategy for the development of the Kenya National Action Plan on implementation of UNSCR 2250. Nothing can stop an idea whose time has come. Young people must lead in championing for peace.</p>
          </div>
</div>
  
	
	<!--END OF HERO TWO-->

  <main id="main">

    <!-- ======= Services Section ======= -->
 

   

    <!-- ======= Features Section ======= -->
    <section class="features">
      <div class="container">

        <div class="section-title">
          <h2 class="text-success">About Ucspak</h2>
          <p>Join us as we continue to connect education with peace in our institutions of higher learning.
		This case study assesses the drivers of youth’s participation in peacebuilding activities in Kenya by providing concrete empirical examples (through case studies) of youth-led peacebuilding interventions. The report explores the activities, tools and instruments used by youth to engage in, and contribute to peace and security in Kenya. .</p>
		</div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5" >
            <!--img src="assets/img/features-1.svg" class="img-fluid" alt=""-->
			 <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fweb.facebook.com%2FUCSPAKOfficial&tabs=timeline&width=300&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1854214031560227" width="300" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
          </div>
          <div class="col-md-7 pt-4">
            <p class="fst-italic">
             Having a round table discussion with the Cabinate Secretary Mininstry of education, Amb. Amina Mohamed, KUSO officials 
			 led by the chairperson Mr Boit and UCSPAK Secretariat led by the Executive Director Mr Allan Chacha  to discuss on the challenges facing students and possible mitigation measures.
			We are happy to report that the CS promised to work closely with the Student Unions to ensure we resolve  issues affecting students without going to the street.
			</p>
			
          </div>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="{% static 'pages/assets/img/NYC-UCSPAK.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1">
            <h3 class="text-success">UCSPAK patnering with NYC</h3>
            
            <p>
              UCSPAK in conjunction with NYC held stakeholders round table meeting. The meeting brought together youth representatives from different sector such as the Kenya Young parliamentary Association ,Leaders in action and development in Africa (LADA),Kenya Private Universities association,youths aspiring for political Leadership,Young Women leaders Contact(YWLC), Forum for Progressive Future(FPF) and political youth league leaders for ANC ,Third Way Alliance to Ponder over
            </p>
          </div>
        </div>
		  
        <div class="row" data-aos="fade-up">
          <div class="col-md-5">
            <img src="{% static 'pages/assets/img/ucspak-dialogue.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5">
            <h3 class="text-success px-4">National student forum</h3>
            <p class="px-4">During the first National Student Leaders Dialogue Forum the panel tackled the issue of student governance and their role in peacebuilding and conflict management. Present was Raymond Ochieng - CEO National Youth Council, Irene Limo - coordinator peacemaking unit ACORD, Kevin Osido - ED County Governance Watch, Frederick Kamau - Senior Director Community Outreach Program Office of the spouse of the Deputy President</p>
          
          </div>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="{% static 'pages/assets/img/bungoma.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1">
            <h3 class="text-success">Stakeholders roundtable meetings</h3>
           
            <p>
				Bungoma County Stakeholders Roundtable Meeting
				Earlier today UCSPAK held a constructive engagement with key partners in Bungoma County on how to  Increase meaningful youth participation in peace and governance  (electoral) processes. 
				The Stakeholders meeting brought together various actors  including the Bungoma County Independent Electoral and Boundaries Commission(IEBC) officials, a representative from the National Cohesion and Integration Commission; Assistant Dean of Students from Kibabi University, and various student leaders.
				It's indeed great to see young people  in institution of learning taking lead in peace  building and good governance
            </p>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->
	  
	   <!-- ======= Why Us Section ======= -->
    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 video-box">
            <img src="{% static 'pages/assets/img/ucspak-10.jpg' %}" class="img-fluid" alt="">
            <a href="https://www.youtube-nocookie.com/embed/gpE8HU6KmJM??autoplay=1&width=300&height=400" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
            <!--iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/gpE8HU6KmJM?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe-->
          </div>

          <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

            <div class="icon-box">
              <div class="icon"><i class="bx bx-fingerprint"></i></div>
              <h4 class="title"><a href="">UUSPAK youtube channel</a></h4>
              <p class="description">A video explaining what ucspak is aspiring for</p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-gift"></i></div>
              <h4 class="title"><a href="">youtube explainer video </a></h4>
              <p class="description">Please visit our channel on a daily basis as we posts new videos on the current issues affecting our society</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

  </main><!-- End #main -->
  {% endblock %} 