{% extends 'pages/base.html'%}

{% block content %}

{% load static %}

<main id="main">

    <!-- ======= About Us Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2 class="text-success">The Secretariat</h2>
          <ol>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li>Secretariat</li>
          </ol>
        </div>
        <p class="lead text-black">The Secretariat are full time employees of the Association. They are in charge of the day-to-day
          affairs of the Association. The Secretariat is headed by the Executive Director who is assisted by
          two Deputies (the deputy executive director, Finance and the Deputy Executive Director, Programs). The deputies are further assisted by senior manager and officers. Below are current staff for the
          Association.</p>
      </div>
    </section><!-- End About Us Section -->

    <!-- ======= About Section ======= -->
    <section class="about" data-aos="fade-up">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
          
       
        </div>

      </div>
    </section><!-- End About Section -->

    <!--NEW SECTION-->

    <section class="bg-light py-4 my-5" data-aos="fade-up">
        <div class="container">
            <div class="row">
                

                <div class="col-md-6 col-lg-4 offset-md-4">
                    <div class="card my-3 align-items-center">
                        <div class="card-thumbnail">
                            <img src="{% static 'pages/assets/img/advisory/advisory3.jpg' %}" class="img-fluid" alt="thumbnail">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title"><a href="#" class="text-secondary">Allan Chacha</a></h3>
                            <h3 class="card-title"><a href="#" class="text-success text-center">Executive Director</a></h3>
                            <p class="card-text lead text-black">Mr. Allan Chacha is the Executive director and founder of Universities 
                              and Colleges Students’ Peace Association of Kenya (UCSPAK). He is also the secretary to the Board of trustees. 

                            </p>
                            <p>
                                <button class="btn btn-success" type="button" data-toggle="collapse" 
                                data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                               Read more
                                </button>
                            </p>


                                <!-- Modal -->
                               
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 text-center">

                
                             <!--TESTING MODAL-->
                            
                              <div class="collapse" id="collapseExample">
                                <div class="card card-body">
                                    <p class="lead text-black">Mr. Chacha holds a Diploma of Law (DLaw) from Mount Kenya University. 
                                      Currently Mr. Chacha is pursuing a Bachelor of law from Mount Kenya University. 
                                      Before founding UCSPAK in 2015, Mr. Chacha was serving in the student union of Mount Kenya
                                       University as the chairman of Mount Kenya University Student Association (MKUSA).
                                        Mr. Chacha has worked at the Office of the Deputy President under the Strategy 
                                        and Delivery Unit. He has also served as the Migori Youth governor under the East Africa
                                         Parliament.
                                    </p>
                                     <P class="lead text-black">Th rou g h his jou r n ey as a you t h lea d er, Mr Ch a ch a ha s be en ab l e to ac q u i re goo d leadership skills, good facilitation skills, experience of chairing meetings and committee work, Tact and diplomacy. Further, Mr. Chacha possesses excellent communication 
                                       and interpersonal skills impartiality, fairness and the ability to respect confidence. 
                                       Mr. Chacha is a versatile, proficient and reliable person who strives to maintain a positive
                                        attitude in face of adversity. He relishes new challenges and is keen to deliver in time 
                                        to achieve predetermined goals and objectives in networking as a peace ambassador and 
                                         resource mobilizer.</P>
                                </div>
                              </div>

                            <!--TESTING MODAL END-->
                </div>         

            </div>

        </div>
        <!--VICE PRESIDENT -->
        <!--VICE PRESIDENT-->
        
        <div class="container" data-aos="fade-up">
            <div class="row">

                <div class="col-md-4 col-lg-4">
                    <div class="card my-3 align-items-center">
                        <div class="card-thumbnail">
                            <img src="{% static 'pages/assets/img/secretariat/wambui.jpg' %}"class="img-fluid" alt="thumbnail">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title"><a href="#" class="text-secondary">Wambui Ngimeria</a></h3>
                            <h3 class="card-title"><a href="#" class="text-success text-center">Deputy Executive Director-Finance</a></h3>
                            <p class="card-text lead text-black">Ms. Wambui Maina-Ngimeria is the Deputy Executive Director - Finance and
                               a co- founder of Universities and Colleges Students’ Peace Association of Kenya (UCSPAK).</p>
                                 <p>
                                    <button class="btn btn-success" type="button" data-toggle="collapse" 
                                    data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
                                   Read more
                                    </button>
                                </p>
                        </div>
                    </div>

                    <div class="collapse" id="collapseExample3">
                        <div class="card card-body">
                            <p class="lead text-black">She is currently pursuing
                              a Bachelor of Law (LLB) in Mount Kenya University. From 2015 to 2019, Ms. Wambui served as the
                              Program assistant in UCSPAK Ac tiv ities and program. Previously, she has also served as the Director Gender
                              Mainstreaming and Special Needs in UCSPAK. Miss Wambui is
                              passionate about advocacy for gender equality, and
                              empowerment of Women and girls as well as youth, peace and
                              security. She seats and represent UCSPAK at the National
                              Steering Committee of the Kenya National Action Plan (KNAP) of
                              United Nations Security Council Resolution (UNSCR) 1325 on
                              women peace and security</p>
                            

                        </div>
                      </div>
                </div>

                <div class="col-md-4 col-lg-4">
                    <div class="card my-3">
                        <div class="card-thumbnail">
                            <img src="{% static 'pages/assets/img/secretariat/joel.jpg' %}" class="img-fluid" alt="thumbnail">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title"><a href="#" class="text-secondary">Joel Daniel</a></h3>
                            <h3 class="card-title"><a href="#" class="text-success text-center">Deputy Executive Director-Programs</a></h3>
                            <p class="card-text lead text-black">Mr. Joel Daniel is the Deputy Executive Director - Programs and a
                              co-founder of Universities and Colleges Students’ Peace
                              Association of Kenya (UCSPAK).</p>
                                 <p>
                                    <button class="btn btn-success" type="button" data-toggle="collapse" 
                                    data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample">
                                   Read more
                                    </button>
                                </p>
                        </div>
                    </div>
                    <!--MODAL TEXT-->
                    <div class="collapse" id="collapseExample4">
                        <div class="card card-body">
                            <p class="lead text-black">He holds a Bachelor of Arts
                              degree in Development Studies with IT from Maseno University
                              and ACCA 9 from Strathmore University. Prev iousl y Mr. Joel has sat and represented UCSPAK in
                              v a r i o u s committee, in and out the country I.e the National
                              Steering Committee on Peace Building and Conflict Management;
                              National Action Plan on Peace and Security Task Force; National
                              Dialogue Reference Group; election observation in Somaliland
                              among others</p>
                            <P class="lead text-black">Mr.Joel has also worked at the Office of the Deputy
                              President, Peace building and conflict department;
                              Ministry of Foreign Affairs and International Trade; Nairobi Water
                              and Sewerage Company; International Peace Support Training
                              Centre e.t.c. He has extensive knowledge and experience in public
                              policy, international development, governance, Peace building and
                              human rights received through trainings he has received from 
                              previous organization he has worked with. He is also a co-founder
                              of Wanafunzi Investment Trust Fund..</P>

                        </div>
                      </div>


                    <!--MODAL TEXT ENDS HERE-->
                </div>
                <!--ZUKRUF-->
                <div class="col-md-4 col-lg-4">
                  <div class="card my-3">
                      <div class="card-thumbnail">
                          <img src="{% static 'pages/assets/img/secretariat/zuk.jpg' %}" class="img-fluid" alt="thumbnail">
                      </div>
                      <div class="card-body">
                          <h3 class="card-title"><a href="#" class="text-secondary">Zukhruf Mohamud </a></h3>
                          <h3 class="card-title"><a href="#" class="text-success text-center">Operations/HR Manager</a></h3>
                          <p class="card-text lead text-black">Ms. Zukhruf Muhamud is the Operations and Human Resource
                            Manager and a co-founder of Universities and Colleges Students’ Peace Association of Kenya (UCSPAK).</p>
                          <p>
                              <button class="btn btn-success" type="button" data-toggle="collapse" 
                              data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
                             Read more
                              </button>
                          </p>
                      </div>
                  </div>
  
                  <!--MODAL START-->
                  
  
                  <div class="collapse" id="collapseExample2">
                      <div class="card card-body">
                          <p class="lead text-black">She holds a Bachelor’s
                            degree in Development Studies from Mount Kenya University. She
                            also holds a higher diploma in Human Resource Management from
                            College of Human Resource Management, Awaiting graduation in
                            July, 2020. Ms. Zukhruf is experience in implementing, maintaining
                            and improving relevant systems and procedures. Previously, she
                            has worked in Supply chain at Save the children international and at
                            Market dimension limited as a digital marketer</p>
                          <P class="lead text-black">Coming from a marginalized community, she happened to go
                            through instances of gender inequality and discrimination which
                            she perceived and worked hard to change the discrimination
                            and perception against women in her community. She is very
                            passionate on fighting for women and youth rights
                            especially young women and children’s.</P>
  
                      </div>
                    </div>
  
  
                  <!--MODAL ENDS-->
              </div>

                <!--END OF ZUKRUF-->
            </div>
        </div>
        <!--START OF ROW 2-->
     <!--END OF ROW 2-->
    </section>

    <!--END OF NEW SECTION-->
    <!--VISION AND MISSION-->
   
</main>
{% endblock %}